.page-header
	h3 Estados
br
div(ng-if="pagination.pageCount > 1",ng-include="'/admin/app/common/pagination.html'")
.panel.panel-primary
	.panel-heading.clearfix
		h3.panel-title Estados
			span.pull-right Página {{pagination.page}} de {{pagination.pageCount}}
	.panel-footer.clearfix
		.btn-group.pull-right
			a.btn.btn-primary(ng-click="add()") Novo
	.panel-body(ng-if="loading")
		div(ng-include="'/admin/app/common/loading.html'")
	.panel-body(ng-if="norecords")
		div(ng-include="'/admin/app/common/norecords.html'")
	table.table(ng-if="!loading && !norecords")
		tr
			th &nbsp;
			th Sigla
			th Nome
			th Latitude
			th Longitude
		tr(ng-repeat="item in Estados")
			td
				a.btn.btn-default(ng-click="edit(item)",tooltip="Editar")
					i.glyphicon.glyphicon-pencil
			td.col-md-2 {{item.Estado.sigla }}
			td {{item.Estado.nome}}
			td {{item.Estado.latitude}}
			td {{item.Estado.longitude}}
