.page-header
	h3 Tópicos de Arquivos
br
.panel.panel-primary
	.panel-heading
		h3.panel-title Tópicos de Arquivos
	table.table
		tr
			th &nbsp;
			th Título
			th Descrição
		tr(ng-repeat="item in ArquivosTop")
			td
				a.btn.btn-default
					i.glyphicon.glyphicon-pencil
			td {{item.ArquivoTop.art_titulo}}
			td {{item.ArquivoTop.art_descricao}}
	.panel-footer.clearfix
		.btn-group.pull-right
			a.btn.btn-primary(href="#/arquivostop/add") Novo
