<div class="clearfix">
	<ul class="breadcrumb">
		<li><a href="#/">Painel</a></li>
		<li><a href="#/contato">Contatos</a></li>
		<li><a href="#/">Emails</a>
		<li class="active">Formulário</li>
	</ul>
	<div class="well well-sm">
		{{form.Contato.nome}}
	</div>
</div>
<hr>
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Email do Contato</h3>
	</div>
	<form ng-if="form" name="formContatoEmail">
	<div class="panel-body">
		<ng-include ng-if="!form" src="'/admin/app/includes/loading.html'"></ng-include>
				
		<div class="row">
			<div class="col-md-6">
				<div class="form-group" ng-class="{'has-error':formContatoEmail.tipo_email_id.$invalid}">
					<label class="control-label">Tipo</label>
					<select ng-options="item.TiposEmail.id as item.TiposEmail.nome for item in related.TipoEmails" name="tipo_email_id" required class="form-control" type="text" ng-model="form.ContatosEmail.tipo_email_id">
						<option value="">Escolha o Tipo</option>
					</select>
					<div class="help-block">&nbsp;
						<span ng-if="formContatoEmail.tipo_email_id.$error.required">Campo requerido!</span>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group" ng-class="{'has-error':formContatoEmail.email.$invalid}">
					<label class="control-label">Email</label>
					<input name="email" required class="form-control" type="text" ng-model="form.ContatosEmail.email">
					<div class="help-block">&nbsp;
						<span ng-if="formContatoEmail.email.$error.required">Campo requerido!</span>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	<div class="panel-footer clearfix">
		<div class="btn-group pull-right">
			<button ng-click="cancel()" class="btn btn-default">Cancelar</button>
			<button form="formContatoEmail" type="submit" ng-disabled="formContatoEmail.$invalid" ng-click="save()" class="btn btn-primary">Salvar</button>
		</div>
	</div>
	</form>
</div>
