<div class="clearfix">
	<ul class="breadcrumb">
		<li><a href="#/">Painel</a></li>
		<li class="active">Contatos</li>
	</ul>
</div>
<hr>

<ng-include src="'/admin/app/includes/pagination.html'"></ng-include>

<div class="panel panel-primary">
	
	<div class="panel-heading">
		<h3 class="panel-title">Contatos</h3>
	</div>
	<div ng-if="data.length==0" class="panel-body">
		<ng-include src="'/admin/app/includes/loading.html'"></ng-include>
	</div>
	<table ng-if="data.length > 0" class="table table-center table-hover">
		<tr>
			<th class="col-md-2">&nbsp;</th>
			<th>Nome</th>
			<th>Nascimento</th>
			<th>CPF</th>
			<th>Situação</th>
		</tr>
		<tr ng-repeat="item in data">
			<td>
				<ng-include src="'/admin/app/includes/recordActions.html'"></ng-include>
			</td>
			<td>{{item.Contato.nome}}</td>
			<td>{{item.Contato.data_nascimento | date:'dd/MM/yyyy'}}</td>
			<td>{{item.Contato.cpf || '--x--'}}</td>
			<td>{{item.SituacoesContato.nome}}</td>
		</tr>
	</table>
	<div class="panel-footer clearfix">
		<div class="btn-group pull-right">
			<a href="#/contato/add" class="btn btn-default">Adicionar</a>
		</div>
	</div>
</div>
