<ng-include ng-if="loading" src="'/web/app/common/loading.html'"></ng-include>
<div class="panel panel-primary" ng-if="artigo">
	<div class="panel-heading">
		<h3 class="panel-title">{{artigo.Artigo.sec_titulo}}</h3>
	</div>
	<div class="panel-body">
		<p ng-bind-html="artigo.Artigo.sec_conteudo"></p>
	</div>
</div>
