.page-header
	h3 {{header}} - {{Form.titulo}}
.panel.panel-primary
	.panel-heading
		.panel-title Formulário
	.panel-footer.clearfix
		.btn-group.pull-right
			button.btn.btn-primary Salvar
	.panel-body
		form.form
			.form-group
				label.form-label Título
				input.form-control(name="titulo",ng-model="Form.titulo",placeholder="Título da Notícia")
	.panel-footer.clearfix
		.btn-group.pull-right
			button.btn.btn-primary Salvar
