<div class="btn-group">
	<a class="btn btn-default" ng-click="edit(item)"><i class="fa fa-2x fa-edit"></i></a>
	<a class="btn btn-default" ng-click="del(item)"><i class="fa fa-2x fa-trash"></i></a>
</div>
