<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">{{noticia.Noticia.not_titulo}}</h3>
	</div>
	<div class="panel-body">
		<p ng-bind-html="noticia.Noticia.not_conteudo"></p>
		<hr>
		<div class="fb-like" data-href="http://{{host}}/#/noticia/{{noticia.Noticia.not_id}}" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
	</div>
</div>
