<div class="page-header">
	<h2>Como ajudar ?</h2>
</div>
<p>
O Movimento das Apaes realiza mais de 250 mil atendimentos diariamente para pessoas com deficiência intelectual e múltipla, por meio das suas mais de 2.144 Apaes filiadas e presentes nos 27 estados brasileiros.</p>
<p>São atendimentos em diversas áreas como: saúde, assistência social, educação,  defesa de direitos e entre outras.</p>
<p>Para continuarmos a realizar estes atendimentos com a qualidade oferecida e reconhecida mundialmente, cotamos com o apoio e colaboração de parceiros que se identificam com a causa.</p>
<p>Sua contribuição é muito bem-vinda e importante!</p>
<p>O valor da doação é você quem decide. Basta preencher os campos obrigatórios e realizar deposito na conta corrente indicada.</p>
<p>Desta forma você estará ajudando a abrir as portas da cidadania para milhares de pessoas com deficiência intelectual e múltipla.</p>
<br><br>
Ajude Agora.
Nome:
CPF:
Sexo F  M
Telefone:
E-mail:
Endereço:
Cidade/estado
Valor
Obrigado!
</p>