doctype html
html(ng-app="sitesApp",ng-controller="MainController")
	head
		title <?php echo $this->fetch('title'); ?>
		| <?php 
		| echo $this->tbs->tbsCSS();
		| echo $this->tbs->tbwCSS();

		| echo $this->tbs->jqJS();
		| echo $this->tbs->tbsJS();
		
		| echo $this->Html->script('Admin.admin');

		| echo $this->fetch('meta');
		| echo $this->fetch('css');
		| echo $this->fetch('script'); 
		| ?>
	body
		.container
			<?php if ($msg = $this->Session->flash()) echo '<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>'.$msg.'</div>'; ?>
			<?php echo $this->fetch('content'); ?>
		<?php echo $this->element('sql_dump'); ?>
