<!DOCTYPE html>
<html ng-app="sitesApp" ng-controller="MainController">
  <head>
    <title><?php echo $this->fetch('title'); ?></title><?php 
    echo $this->tbs->tbsCSS();
    echo $this->tbs->tbwCSS();
    echo $this->Html->css('Admin.admin');
    echo $this->Html->css('/admin/bower_components/ng-sortable/dist/ng-sortable.min.css');
    echo $this->tbs->jqJS();
    echo $this->tbs->tbsJS();
    echo $this->angular->scripts();
    echo $this->angular->controllers();
    echo $this->Html->script('Admin.admin');
    echo $this->fetch('meta');
    echo $this->fetch('css');
    echo $this->fetch('script'); 
    ?>
  </head>
  <body>
    <div ng-include="'/admin/app/common/Menu.html'"></div>
    <div class="container">
      <?php if ($msg = $this->Session->flash()) echo '<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>'.$msg.'</div>'; ?>
      <?php echo $this->fetch('content'); ?>
    </div><?php echo $this->element('sql_dump'); ?>
  </body>
</html>