<div class="panel panel-primary" ng-repeat="item in arquivos">
	<div class="panel-heading">
		<h3 class="panel-title">{{item.Arquivo.arq_titulo}}</h3>
	</div>
	<div class="panel-body">
		Data: {{item.Arquivo.arq_data|date:'dd/MM/yyyy'}}
		<hr>
		Downloads: {{item.Arquivo.arq_downloads}}
		<hr>
		Tamanho: {{item.Arquivo.arq_tamanho}}
	</div>
	<div class="panel-footer clearfix">
		<a target="_blank" href="arquivo/{{item.Arquivo.arq_id}}" class="btn btn-primary pull-right">Download</a>
	</div>
</div>
