
<div class="row">
  <div class="col-md-4 col-md-offset-4">Carregando...
    <div class="progress">
      <div role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%" class="progress-bar progress-bar-striped active"><span class="sr-only">Carregando...</span></div>
    </div>
  </div>
</div>