.page-header
	h3 Novo Arquivo
.panel.panel-primary
	.panel-heading
		h3.panel-title Novo Arquivo
	.panel-body
		form.form
			.form-group
				label.form-label Título
				input.form-control(name="titulo")
			.form-group
				label.form-label Arquivo
				input.form-control(name="arquivo",type="file")
			.form-group
				label.form-label Descrição
				textarea.form-control(name="descricao",rows="5")
			.form-group
				label.form-label Fonte
				input.form-control(name="fonte")
			.form-group
				label.form-label Link da fonte
				input.form-control(name="fonte_link")
	.panel-footer.clearfix
		.btn-group.pull-right
			button.btn.btn-primary Enviar
			button.btn.btn-default Cancelar